<html>
    <head>
        <script src="../scripts/index.js"></script>
        <script src="../scripts/BookData.js"></script>
        <script src="../scripts/bookDetails.js"></script>
        
    </head>
    <body>
      <script>
        generateNavBar();
        display_account_data();
      </script>
    
    <div class="card" style="width: 25%;margin: 0 auto;float: none;margin-top:10px;margin-bottom: 10px;">
      <img id="cardBookCover" class="card-img-top" alt="Card image cap">
      <div class="cardBody">
        <h5 id="cardBookTitle" class="card-title"></h5>
        <h6 id="cardBookAuthor" class="card-subtitle mb-2 text-muted"></h6>
        <p id="cardPublishDate" class="card-text"></p>
        <!--<a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>-->
      </div>
    </div>
          <script src="../scripts/BookAdd.js"></script>
          <script>displayBookDetails();</script>
        </body>
</html>