<html>
  <head>
    <title>Harry Potter Books</title>
  </head>
  <h1>Harry Potter Books</h1>
  <a href="">
    <img src="./media/Harry Potter and the Philsopher's Stone.jpg" alt="Harry Potter and the Philsopher's Stone" width="500px" height="500px" />
  </a>
  <a href="">
    <img src="./media/Harry Potter and the Chamber of Secrets.jpg" alt="Harry Potter and the Chamber of Secrets" width="500px" height="500px" />
  </a>
  <a href="">
    <img src="./media/Harry Potter and the Prisoner of Azakaban.jpg" alt="Harry Potter and the Prisoner of Azakaban" width="500px" height="500px" />
  </a>
</html>
