body{
    /* background: #000000;  
    background: -webkit-linear-gradient(to left, #434343, #000000);  
    background: linear-gradient(to left, #434343, #000000);  */
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    
    background: rgb(0,131,150);
    background: radial-gradient(circle, rgba(0,131,150,1) 0%, rgba(0,36,77,1) 100%); 
}

.d-block{
    border-radius:30px;
    width:100%;
    height:100%;
}

img:not([class]){

}

.carousel-inner {
    height: 65%;
}

#carouselExampleControls{
    margin:auto;
    width:30em;
    /*
     transform: scale(0.5);
   ;*/
    background-color: #EEE; 
    padding:0.75em; 
    border-radius: 30px;
}

.carousel{
    margin:auto;
    width:30em;
    /*
     transform: scale(0.5);
   ;*/
    background-color: #EEE; 
    padding:0.75em; 
    border-radius: 30px;
}

.carousel-control-prev-icon {
    background-color:black !important;
}
   
.carousel-control-next-icon {
    background-color:black !important;
}

.StartLink {
    text-align: right;
    font-size: 25px;
  }